<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-app="cheKouBei" >
  <h2 class="sub-header">欢迎你:<%= current_store.name %></h2>
  <div class="table-responsive" ng-controller="home">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>品牌</th>
        <th>型号</th>
        <th>颜色</th>
        <th>里程</th>
        <th>上牌时间</th>
        <th>图片</th>
      </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
</div>
