<div class="col-sm-3 col-md-2 sidebar">
  <% if current_user.admin? %>
      <ul class="nav nav-sidebar">
        <li ><h3>牛逼的超管</h3></li>
        <li class="<%= active_by('home') %>"><a href="/">管理首页 <span class="sr-only">(current)</span></a></li>
        <li class="<%= active_by('cars') %>"><a href="/cars">车辆管理</a></li>
        <li><a href="#">Analytics</a></li>
      </ul>
  <%end %>
  <% if current_store %>
  <ul class="nav nav-sidebar">
    <li ><h3>门店管理</h3></li>
    <li><a href="">我的门店</a></li>
    <li><a href="">Nav item again</a></li>
    <li><a href="">One more nav</a></li>
    <li><a href="">Another nav item</a></li>
    <li><a href="<%= session_path(current_user.id) %>", data-method="delete">退出</a></li>
  </ul>
  <%end %>
</div>